@use "./partials/variables" as *;

@use "./partials/header";

@use "./partials/banner";

@use "./partials/sectionDream";

@use "./partials/sectionHelp";

@use "./partials/offersSection";

@use "./partials/youtubeSection";

@use "./partials/eventsSection";

#site_banner {
  .col-6 {
    background-image: url("../img/home-business-hero-global-image.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#youtube {

  background-color: $lightdark;

  img {
    padding: 2rem;
  }

  .worldmap {
    background-image: url("../img/background-map-dots-top-right-transparent.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;

    h2 {
      color: $light;
    }
  }

}