@use "variables" as *;

#site_footer {

    background-color: $lightdark;
    padding: 2rem;

    h6 {
        color: $light;
    }

    a {
        text-decoration: none;
        color: $silver;
    }

    .icon {
        font-size: 30px;
        margin-right: 1rem;
        color: $silver;
    }

    .text-center {
        color: $silver;
        margin-top: 2rem;
    }

    #arrow {
        height: 72px;
        width: 72px;
        border-radius: 50%;
        background-color: $jungle;
        color: $light;

        a {
            text-decoration: none;
            font-size: 36px;
            color: $light;
        }
    }
}