@use "variables" as *;

#site_header {
    background-color: $light;

    nav {

        li {

            margin: 0rem 1rem;
        }
    }

    .user_icon {
        height: 24px;
        width: 24px;
        border: 2px solid $boulder;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $boulder;
        padding: 0.75rem;
    }

    input {
        border: none;
        border-bottom: 1px solid $lightdark;
    }
}