@use "variables" as *;

#help {
    background-color: $grey;

    .dream {
        color: $primary;
    }

    .card {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: $jungle;
            font-weight: bold;
            padding: 1rem;

            &:hover {
                background-color: $jungle;
                transition: 0.4s;
                color: $light;
            }
        }
    }


}